@import 'styles/mixins.scss';

.card {
  background: $primary-bg;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  min-width: 270px;
  max-width: 430px;
  flex: 1;
  margin: 25px;
}

.linkContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 15px;
  display: flex;
  margin: 15px 15px 0;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  background: $ligth-gray;
  margin-right: 13px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatarTitle {
  font-family: Inter;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  line-height: 51px;
  letter-spacing: 0.24px;
  color: $primary-bg;
}

.name {
  @include info-block-header;
  margin: 0;
}

.category {
  @include secondary-content;
}

.text {
  @include info-block-header;
  font-size: 14px;
  margin: 0;
  font-weight: normal !important;
}

.count {
  @include info-block-header;
  margin: 0;
}

.issues {
  padding: 15px;
}

.colorBlock {
  height: 20px;
  width: 100%;
}