@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.userInfo {
  width: 30%;
  min-width: 200px;
  @include primary-box;
  padding: 50px 40px 25px;
}

.policyLink {
  margin: 25px 0;
  display: block;
  font-size: 16px;
  color: $secondary-content;
}