@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.userInfo {
	width: 25%;
	height: fit-content;
	min-width: 280px;
	@include primary-box;
	padding: 20px;
}

@media screen and (max-width: $less-than-medium-screen) {
	.userInfo {
		width: 100%;
		max-width: 100%;
		padding: 20px;
	}
}
