@import "styles/mixins.scss";

.grid {
	height: 100vh;
	justify-content: center;
}

.mainHeader,
.subHeader {
	text-align: center;
}

.column {
	max-width: 450px;
}

.list {
	display: flex !important;
	justify-content: center;
}

.listItem {
	font-size: 13px !important;
}

.continueButton {
	width: 100%;
}

.errorPopup {
	@include error-popup;
}

.errorInput {
	background: #fff6f6 !important;
	border-color: #e0b4b4 !important;
	color: #9f3a38 !important;
}

.loading_wrapper {
	position: fixed !important;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.google_btn {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: transparent;
	border: 1px solid #ccc;
	outline: none;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	animation: all 1s;

	&:hover {
		transition: background-color 0.5s;
		background-color: rgb(247, 247, 247);
		box-shadow: 0 0 2px #ccc, 0 0 13px inset #ffff;
	}

	.google_title {
		font-weight: 500;
		font-size: 1.2rem;
		padding-left: 10px;
	}

	.google_logo {
		width: 35px;
	}
}
