@import 'styles/mixins.scss';

.grid {
	justify-content: center;
}

.mainHeader,
.subHeader {
	text-align: center;
}

.column {
	max-width: 450px;
	padding: 0px !important;
	margin: 14px !important;
}
.loginBody {
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: transparent !important;
	color: $primary-bg !important;
}
.list {
	display: flex !important;
	justify-content: center;
}

.listItem {
	font-size: 13px !important;
}

.inputField {
	margin-bottom: 30px !important;
}

.continueButton {
	width: 100%;
	background-color: $yellow !important;
	color: #000000 !important;
	&:hover {
		box-shadow: 0 0 5px inset $primary-bg !important;
	}
}
.divider {
	color: $primary-bg !important;
}
.errorPopup {
	@include error-popup;
}

.errorInput {
	background: #fff6f6 !important;
	border-color: #e0b4b4 !important;
	color: #9f3a38 !important;
}

.loading_wrapper {
	position: fixed !important;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.google_btn {
	color: $primary-bg;
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: transparent;
	border: 1px solid rgb(124, 124, 124);
	outline: none;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	animation: all 1s;
	padding: 4px 7px;
	&:hover {
		transition: background-color 0.3s;
		box-shadow: 0 0 1px rgb(199, 178, 122), 0 0 4px inset $yellow;
		color: inherit;
		border: 1px solid transparent;
	}

	.google_title {
		font-weight: 500;
		font-size: 1.2rem;
		padding-left: 10px;
	}

	.google_logo {
		width: 35px;
	}
}
