.searchInputContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	.containTextInput {
		height: 30px;
		width: 120px !important;
	}
	.searchBtn {
		height: 30px !important;
		width: auto;
		display: flex !important;
		margin: 0 5px auto !important;
		padding: 0 10px !important;
		display: inline-block !important;
		text-align: center !important;
	}
}
