@import 'styles/mixins.scss';

:global(#root) {
	.breadcrumb {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.noSprintsContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 50vh;
		text-align: center;
		margin-top: 0px;
	}

	.noSprintsHeader {
		margin-top: 16px;
	}

	.scrumHeader {
		margin-left: 0 !important;
	}
}

.searchInput {
	@include input;
}

.inlineContainer {
	display: flex;
	align-items: center;
	margin: 20px 0 10px 0;
	flex-wrap: wrap;

	* {
		margin: 0 5px !important;
	}

	.createSprintButton {
		@include primary-btn;
		margin-left: auto !important;
	}
}

.container {
	display: flex;
	flex-direction: row;
	height: 100%;
	max-height: 100vh;
}

.innerContainer {
	width: 100vw;
	padding: 0 10%;
	max-height: 100vh;
	overflow-y: scroll;
}

.nonePading {
	padding: 0 0;
}

.cancelBtn {
	@include cancel-btn;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
}

@media screen and (max-width: $medium-screen) {
	.container {
		margin: 25px 8%;
	}

	.inlineContainer {
		flex-direction: column;
		align-items: flex-start;

		.createSprintButton {
			margin-left: 0px !important;
			margin-top: 20px !important;
		}
	}

	.searchInput {
		margin-left: -10px !important;
		margin-top: 10px !important;
	}
}
