:global(#root) {
	.editCell {
		overflow: visible !important;
	}

	.userCell {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.optionsCell,
	.starCell {
		text-align: center;
	}
}
