.editCell {
  overflow: visible !important;
}

.userCell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userCell:hover {
  cursor: pointer;
}

.underlinedLink {
  text-decoration: none;
}

.underlinedLink:hover {
  text-decoration: underline;
}

.dropdown {
  text-align: center !important;
}
