@import 'styles/mixins.scss';

.container {
  position: absolute !important;
  background-color: $body-bg !important;
  margin: 0 !important;
  border: none !important;
  width: 100%;
  height: calc(100% - 155px);
  min-height: 90px;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.bodyColor {
  background-color: $body-bg !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}