.card {
  margin: 0 !important;
  width: 100% !important;
  text-align: center;
}

.colorBlock {
  height: 20px;
  width: 100%;
}

.team_block {
  min-height: 130px !important;
  word-wrap: break-word;
}
