@import 'styles/mixins.scss';

:global(#root) {
	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		background-color: $body-bg;
		overflow: hidden;
	}
}

.content_flow {
	overflow: auto;
	min-height: calc(100vh - 70px);
}

.content_flow__hidden {
	overflow: hidden;
}