@import "styles/mixins.scss";
@import "styles/variables.scss";
.modalWrapper {
	background-color: $header-text !important;
	color: $body-bg !important;
	box-shadow: 0 0 2px inset $ligth-gray;
}

.mainHeader {
	text-align: center;
	color: inherit !important;
	background-color: inherit !important;
}

.column {
	max-width: 450px;
}

.list {
	display: flex !important;
	justify-content: center;
}

.listItem {
	font-size: 13px !important;
}

.continueButton {
	width: 100%;
	@include primary-btn;
}

.textBlock {
	margin: 24px 0 22px;
	text-align: center;
	p {
		margin-bottom: 4px;
	}
	p:last-child {
		font-weight: bold;
	}
}

.segmentBody {
	margin-top: 0 !important;
}
.returnToMain {
	font-size: 1rem;
	cursor: pointer;
	color: $yellow !important;
	&:hover {
		border-bottom: 1px solid $yellow;
		color: $primary-bg !important;
	}
}
