@import 'styles/mixins.scss';

.container {
  @include profile-container;
}


.header {
  @include manager-header;
}

.card {
  @include card-container;
}

.cardHeader {
  @include info-block-header;
  font-size: 14px;
}

.textData {
  @include text-data;
}


.footerButton {
  margin-right: 20px !important;
  @include content-btn;
}

.footerLink {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.footerIcon {
  position: absolute;
  right: -20px;
  top: -2px;
}


@media screen and (max-width: $less-than-medium-screen) {
  .container {
    margin-top: 50px;
    width: 100%;
    padding: 0;
  }
}