.moreFilterDropdown {
	.moreText {
		color: #3275a8;
	}
	&:hover {
		.dropdownMenu {
			display: none !important;
		}
	}
	&:focus {
		.dropdownMenu {
			display: block !important;
			min-width: 200px !important;
		}
	}
	.dropdownMenu {
		position: absolute !important;
		&:focus {
			display: block !important;
		}
		&:hover {
			display: block !important;
		}
	}
}
