.filtersContainer {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0 50px;
}
.outer {
    margin-bottom: 10px;
    .titleWrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        .titleContainer {
            flex: 1 1 auto;
        }
        .actionWrapper {
            margin-left: 10px;
            flex: 0 0 auto;
        }
    }
}
