@import 'styles/mixins.scss';

:local(.columnsFlex) {
	display: flex;
	height: calc(100vh - 230px);
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 25px;
	padding-right: 25px;
}

:local(.outerContainer) {
	height: 100%;
	display: flex;
	flex: 1;
}

:local(.render) {
	width: calc(100% - 10px);
}

:local(.column) {
	display: flex;
	justify-content: center;
	min-width: 300px;
	max-width: 500px;
	width: 100%;
	margin-right: 25px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25) !important;
	max-height: 100%;
}

:local(.wrapper) {
	margin-top: 0px;
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

:local(.inlineContainer) {
	display: flex;
	align-items: center;

	h2 {
		margin: 0 30px 0 0 !important;
	}

	a {
		margin: 0 0 0 50px !important;
	}
}

:local(.wrapper) {
	margin-top: 0px;
	padding: 20px 60px;
	width: 100%;
}

.headerWrapper {
	display: flex;
	margin: 25px 0;
	align-items: center;
	justify-content: space-between;
}

.linkSettings {
	@include text-data;
	height: 23px;

	&:hover {
		border-bottom: 2px solid $yellow;
	}
}

.searchInput {
	margin: 0 20px !important;
	@include input;
}

.cancelBtn {
	@include cancel-btn;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
}

.contentBtn {
	margin-top: 0 !important;
	min-width: 250px !important;
	height: 41px;
	cursor: pointer;
	@include cancel-btn;
}

@media screen and (max-width: $mobile-screen) {
	.inlineContainer,
	.headerWrapper {
		display: block;
	}

	.headerWrapper {
		margin-left: 25px;
	}

	.inlineContainer {
		margin-bottom: 20px;
	}

	.searchInput {
		margin: 10px 0 !important;
	}
}
