@import '../../styles/variables.scss';
$screen-offset: 100;

:local(.container) {
	width: 100%;
	background-color: #f5f7f9;
	overflow: hidden;
	min-height: 100vh;
	padding: 30px 60px;
	display: flex;
	justify-content: center;
}

.commentContainer {
	min-width: 100%;
}

:local(.innerContainer) {
	margin-right: 50px;
	width: 50%;
	min-width: 500px;
}

.commitsContainer {
	margin-top: 20px;
}

.menu {
	background-color: inherit !important;
	border: none !important;
	box-shadow: none !important;
	margin-bottom: 25px !important;
}

.menu>.item {
	margin: 0 20px 0px 0;
	padding: 7px 13px !important;

	&:hover:not(.active) {
		border-bottom: 2px solid $header-text !important;
		position: relative;
		top: 1px;
	}

	&::before {
		background: none !important;
	}
}

.scrollable {
	max-height: 40%;
	overflow-y: auto;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20;
}

@media screen and (max-width: $less-than-medium-screen) {
	.menu {
		display: flex;
		flex-direction: column;
		width: 160px;
	}

	.menu>.item {
		margin: 10px 10px 10px 0;
	}
}

// @media screen and (max-width: $medium-screen + $screen-offset * 2.2) {
// 	.container {
// 		justify-content: flex-start;
// 	}
// }

@media screen and (max-width: $less-than-medium-screen + $screen-offset) {
	.innerContainer {
		max-width: 500px;
		min-width: 300px;
	}
}