.meta_header {
	margin-left: 14px;
}
.margin_1 {
	margin-right: 5px !important;
}
.card_body {
	display: flex;
	position: relative;
	.icon {
		flex-basis: 30%;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			max-width: 50px;
			height: 50px;
			max-height: 50px;
			img {
				width: inherit;
				height: inherit;
			}
			span {
				font-size: 1.5rem;
			}
		}
	}
	.user_info {
		justify-content: flex-start;
		.metainfo {
			color: #cccccc;
		}
	}
}
.info_message {
	color: #777777 !important;
	font-size: 1.2rem !important;
	line-height: 2rem !important;
	text-align: center;
}

.user_delete_btn {
	position: absolute !important;
	right: 0;
	top: 45%;
	cursor: pointer;
	color: #2185d0;
	font-size: 1.3rem !important;
	margin: 0 !important;
	padding: 0 !important;
}
