:local(.columnsFlex) {
	display: flex;
	width: 100%;
	overflow-x: auto;
	height: 75%;
}

:local(.column) {
	min-width: 300px;
	height: min-content;
	max-height: 100%;
	margin-right: 20px;
}

:local(.inlineContainer) {
	display: flex;
	align-items: center;
	margin: 0 0 10px 0;

	*:not(h2) {
		margin: 0 5px 0 0 !important;
	}

	h2 {
		margin: 0 30px 0 0 !important;
	}
}

:local(.header) {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

:local(.wrapper) {
	padding: 20px 40px;
}
