@import 'styles/mixins.scss';

:local(.columnsFlex) {
	display: flex;
	height: calc(100vh - 261px);
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	margin-left: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
}

:local(.column) {
	min-width: 300px;
	margin-right: 25px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25) !important;
	height: fit-content;
	max-height: calc(100vh - 261px);
}

:local(.inlineContainer) {
	display: flex;
	align-items: center;

	*:not(h2):not(a) {
		margin: 0 5px 0 0 !important;
	}

	h2 {
		margin: 0 30px 0 0 !important;
	}

	a {
		margin: 0 0 0 50px !important;
	}
}

:local(.wrapper) {
	width: 100%;
	margin-top: 0px;
}

.headerWrapper {
	display: flex;
	padding: 25px 10%;
	justify-content: space-between;
}

.breadcrumb {

	div,
	a {
		@include info-block-header;
		color: $secondary-content !important;
	}

	.active {
		color: $header-text !important;
	}
}

.searchInput {
	margin-right: 60px;
	min-width: 250px;
	@include input;
}

.cancelBtn {
	@include cancel-btn;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	width: 95px !important;
}

.contentBtn {
	margin: 0 25px 0 0 !important;
	min-width: 250px !important;
	height: 41px;
	cursor: pointer;
	@include content-btn;
}

@media screen and (max-width: $medium-screen) {
	.headerWrapper {
		padding: 25px 8%;
	}
}