@import 'styles/mixins.scss';

.menu {
  background-color: inherit !important;
  border: none !important;
  box-shadow: none !important;
}

.menu>.item {
  margin: 0 20px 20px 0;
  padding: 7px 13px !important;

  &:hover:not(.active) {
    border-bottom: 2px solid $header-text !important;
    position: relative;
    top: 1px;
  }

  &::before {
    background: none !important;
  }
}

@media screen and (max-width: $less-than-medium-screen) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 160px;
  }

  .menu>.item {
    margin: 10px 10px 10px 0;
  }
}