@import 'styles/mixins.scss';

.menu {
  background-color: inherit !important;
  border: none !important;
  box-shadow: none !important;
}

.menu>.item {
  padding: 0px !important;
  margin: 20px 40px 20px 0;

  &::before {
    background: none !important;
  }
}

@media screen and (max-width: $less-than-medium-screen) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 160px;
  }

  .menu>.item {
    margin: 10px 10px 10px 0;
  }
}