@import 'styles/mixins.scss';

.mainInfo {
  padding: 0 0 0 40px;
}

.header {
  @include manager-header;
  margin: 0;
}


.headerSecondary {
  @include secondary-content;
  color: $secondary-text;
  margin-bottom: 18px;
}

@media screen and (max-width: $less-than-medium-screen) {
  .mainInfo {
    margin-top: 50px;
    width: 100%;
    padding: 0;
  }
}