:local(.tag) {
    background-color: #00AAFF;
    color: white;
    border-radius: 20px;
    padding: 2px 15px 4px 15px;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

:local(.tagContainer) {
    display: flex;
    flex-wrap: wrap;
}
