@import 'styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 10px 0 !important;
  @include content-btn;
}

.profileBtn {
  background-color: $red !important;
  // font-size: 1.2rem !important;
}

.emailBtn {
  background-color: $yellow !important;
  //   font-size: 1.2rem !important;
}

.securityBtn {
  background-color: $green !important;
  // font-size: 1.2rem !important;
}

.accountBtn {
  background-color: $blue !important;
  // font-size: 1.2rem !important;
}