@import 'styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 10px 0 !important;
  @include content-btn;
}

.primaryBtn {
  background-color: #2185d0 !important;
  color: $primary-bg !important;
  border: none !important;
}