@import 'styles/mixins.scss';

.container {
  margin-bottom: 50px;
}

.emptyCard {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.image {
  margin-right: 40px;
}

.showBtn {
  background-color: inherit;
  @include secondary-content;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.title {
  @include manager-header;
}

.text {
  @include text-data;
}