:global(#root) {
	.sprintHeader {
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: auto;
		margin-top: 35px;
	}

	.sprintHeaderTitle {
		font-size: 16px;
	}

	.sprintHeaderStatus {
		margin-top: 5px;
		font-size: 12px;
		color: #00000069;
	}
}
