@mixin button($border, $background: white, $height: min-content) {
	padding: 10px 20px;
	border: $border;
	color: #333;
	font-size: 22px;
	text-align: center;
	background-color: $background;
	border-radius: 5px;
	height: $height;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:local(.button) {
	@include button(1px dashed #888);
}

:local(.dragOverButton) {
	@include button(1px solid #000, #0f06);
}

:local(.high) {
	@include button(1px dashed #888, white, 150px);
}

:local(.controlsContainer) {
	display: flex;
	justify-content: center;
	align-items: center;
}

:local(.smallText) {
	font-size: 13px;
}
