.header {
	width: 100%;
	height: 40px;
}

.meta_header {
	margin-left: 14px;
}
.margin_1 {
	margin-right: 5px !important;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.link_header {
	padding: 2rem 0 1rem 0;
	display: flex;
	justify-content: space-between;
}
.btn_borderless {
	border: none !important;
	box-shadow: none !important;
}
.worked_block_wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.shadow_top {
	box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
}
.align_center {
	align-items: center;
	justify-content: center;
}
.card_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.input_focus {
	width: calc(100% - 30px);
	box-sizing: border-box;
	padding: 10px;
	font-size: 1.4rem;
	font-weight: 700;
	border: none;
	border: 1px solid transparent;
	&:hover,
	&:focus {
		outline: none;
		background-color: #ececec;
		border-radius: 6px;
	}
}
.input_area {
	width: 100%;
	height: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
	max-height: 200px;
	font-size: 1.2rem;
	padding: 6px;
	border: 1px solid transparent;
	&:hover,
	&:focus {
		outline: none;
		background-color: #ececec;
		border-radius: 6px;
	}
}

.input_borders {
	border-color: #333232;
	border-radius: 6px;
	background-color: #fffff6;
	&:hover,
	&:focus {
		background-color: #ffffff;
	}
}

.main_row {
	padding: 0 80px !important;
	.col_media {
		flex-grow: 0 !important;
		.ui.card {
			width: 100% !important;
		}
	}
	.col_left {
		width: 35% !important;
		min-width: 270px !important;
	}
	.col_right {
		width: 60% !important;
		max-width: 700px;
	}
}
.media_btns {
	flex-shrink: 0.5 !important;
}
.edit_field_btn {
	border-top: none !important;
}
.delete_btn {
	border: 1px solid #2185d0 !important;
	.delete_btn_value {
		color: #2185d0 !important;
	}
}
.edit_btn {
	border: 1px solid #4d4c4c !important;
	.edit_btn_value {
		color: #4d4c4c;
	}
}
@media (max-width: 950px) {
	.main_row {
		padding: 0 20px !important;
	}
}
@media (max-width: 710px) {
	.main_row {
		padding: 0 20px !important;
		.col_left {
			flex-wrap: wrap !important;
			display: flex !important;
			flex-direction: row !important;
			justify-content: center !important;
			width: 100% !important;
			& > div {
				margin: 0 10px 10px 0 !important;
			}
		}
		.col_right {
			width: 90% !important;
		}
	}
}
