@import 'styles/mixins.scss';

.pageMain {
	overflow: auto;
	min-height: calc(100vh - 70px);
}

.container {
	margin: 13px 10%;
	display: flex;
}

.aside {
	width: 25%;
	height: fit-content;
	min-width: 280px;
}

.content {
	padding: 0 0 0 40px;
	width: 75%;
}

.header {
	width: 100%;
	height: 40px;
}

.linkHeader {
	display: flex;
}

.btnBorderless {
	border: none !important;
	box-shadow: none !important;
}

.workedBlockWrapper {
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.shadowTop {
	box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
}

.alignCenter {
	align-items: center;
	justify-content: center;
}

.mainHeader {
	@include manager-header;
	margin: 0;
}

@media screen and (max-width: $medium-screen) {
	.container {
		margin: 13px 8%;
	}
}

@media screen and (max-width: $less-than-medium-screen) {
	.container {
		display: block;
	}
}