@import "styles/mixins.scss";

.descriptionP {
  color: #cccccc;
}

.textModal {
  color: #292828;
  text-align: justify;
  font-size: 1.2rem;
}
.titleModal {
  color: #292828;
  width: 100%;
  display: block;
  text-align: center !important;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.field {
  width: 100%;
  margin: 1rem auto;
  input {
    border-radius: 0 !important;
    width: 300px !important;
  }
}

.border {
  border: 1px solid black;
}
.deleteBtn {
  @include cancel-btn;
  .deleteBtnValue {
    color: #2185d0 !important;
  }
}
.editBtn {
  @include primary-btn;
  .editBtnValue {
    color: #4d4c4c;
  }
}
.cancelBtn {
  @include cancel-btn;
}
