@import 'styles/mixins.scss';

.container {
  @include profile-container;
  display: flex;
  flex-direction: column;
}

.card {
  @include profile-card;
}

.header {
  margin: 19px 0 0 19px;
}

.formFooter {
  margin-top: 20px !important;
}

.submitButton {
  margin-right: 20px !important;
  background-color: #76ef8a !important;
}