@import 'styles/mixins.scss';

.avatar {
  margin: 0 auto;
  margin-bottom: 10px;
}

.name {
  @include info-block-header;
  margin: 0;
}

.category {
  @include secondary-content;
}

.header {
  padding: 15px;
  display: flex;
}

.title {
  @include secondary-content;
}

.card {
  background: $primary-bg;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

.avatarContainer {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  span {
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
  }
}

.colorBlock {
  height: 20px;
  width: 100%;
}

.avatarTitle {
  font-family: Inter;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  line-height: 51px;
  letter-spacing: 0.24px;
  color: $primary-bg;
}