.colorContainer {
  width: 20px;
  height: 20px;
  display: block;
}

.team {
  color: #2C2C2C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team:hover{
  color: #2C2C2C;
}
