@import 'styles/mixins.scss';

.titleWrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	padding: 0 0 24px 0;
	.titleContainer {
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between !important;
		justify-items: center;
		width: 100%;
		.saveBtn {
			background: $body-bg;
			margin-right: 0;
		}

		.filterName {
			margin: 0 10px 0 0;
			max-width: 18em;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	.actionItem {
		display: flex !important;
		flex-direction: row;
		.star {
			padding: 5px 0 5px 10px;
		}
	}
	.actionWrapper {
		display: flex;
		justify-items: center;
	}
}
