@import 'styles/mixins.scss';

.container {
  @include profile-container;
}

.card {
  @include profile-card;
}

.checkbox {
  display: block !important;
  margin: 15px 0;
}

.submitButton {
  margin-top: 20px !important;
  background-color: #76ef8a !important;
}

.select {
  margin: 20px 0 !important;
}