@import 'styles/mixins.scss';

.container {
  @include profile-container;
}

.header {
  @include manager-header;
}

.card {
  @include card-container;
}


.cardHeader {
  @include info-block-header;
  margin: 25px 0 !important;
  font-size: 14px;
}

.textData {
  @include text-data;
}

.checkbox {
  display: block !important;
  margin: 15px 0;
  @include text-data;
}

.addText {
  margin-bottom: 0 !important;
}

.submitButton {
  margin-top: 20px !important;
  @include primary-btn;
}

.select {
  margin: 20px 0 !important;
  @include text-data;
}

@media screen and (max-width: $less-than-medium-screen) {
  .container {
    margin-top: 50px;
    width: 100%;
    padding: 0;
  }
}
