.avatar {
	background-color: #ddd;
	color: #555;
	text-transform: uppercase;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatarImage {
	@extend .avatar;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.smallIcon {
	@extend .avatar;
	width: 30px;
	height: 30px;
}
