@import '../../styles/variables.scss';

@mixin transition($prop) {
	transition-property: $prop;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.sidebar {
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	@include transition(width);
	position: relative;

	* {
		@include transition(opacity);
	}

	&.expanded {
		width: 250px;

		* {
			opacity: 1;
		}
	}

	&.collapsed {
		width: 30px;

		*:not(.collapseIcon):not(img) {
			opacity: 0;
		}
	}

	.collapseIcon {
		@include transition(transform);
		display: flex;
		position: absolute;
		bottom: 60px;
		right: -12px;
		border-radius: 50%;
		background-color: #fece2f;
		width: 26px;
		height: 26px;
		padding: 5px;
		padding-left: 4px;
		border: 2px solid #fac71f;

		img {
			width: 12px;
			height: 12px;
		}

		&.collapsed {
			transform: rotateZ(180deg);
		}
	}

	.sidebarHeader {
		display: flex;
		align-items: center;
		padding: 23px 24px 7px;

		.projectAvatar {
			$wh: 30px;
			width: $wh;
			height: $wh;
			border-radius: 3px;
			margin-right: 14px;
		}

		.sidebarHeaderText {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.projectName {
				font-weight: bold;
			}

			.projectCategory {
				color: #aaa;
				font-size: 12px;
			}
		}
	}

	.sidebarBody {
		padding: 12px;

		.sidebarSection {
			padding: 10px 12px 8px;
			border-radius: 5px;
			cursor: pointer;

			:global(.icon) {
				margin-right: 10px;
			}

			.sidebarSectionContent {
				border-bottom: 2px solid transparent;
				font-weight: bold;
			}

			.sidebarSectionActive {
				@extend .sidebarSectionContent;
				border-bottom: 2px solid $yellow;
			}

			&:hover {
				background-color: $yellow;
				color: black;
			}
		}
	}
}
