@import 'styles/mixins.scss';

.mainInfo {
  margin-bottom: 32px;
  text-align: center;

  &__fullName {
    @include primary-header;
  }

  &__avatarContainer {
    background-color: $body-bg;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__username {
    @include secondary-content;
  }

  &__editBtn {
    position: absolute !important;
    display: none !important;
    z-index: 2;
    top: calc(50% - 16px);
    left: calc(50% - 14px);
    color: $ligth-gray;
    z-index: 1;
  }

  &__borderHelper {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(9, 30, 66, 0.36);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover .mainInfo__editBtn {
      display: block !important;
    }
  }

  &__initials {
    color: white;
    font-size: 4rem;
  }

  &__avatar {
    object-fit: cover;
    width: 100%;

    &:hover {
      opacity: 0.6;
    }
  }
}

.managerButton {
  width: 100%;
  @include content-btn;
  margin-bottom: 40px !important;
}

.hidden {
  width: 50px;
  z-index: 2;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 0;
}