@import 'styles/mixins.scss';

.item {
  @include info-block-item;
  @include point
}

.header {
  @include info-block-header;
}

.content {
  display: flex;
  flex-direction: column;
}

.contentPrimary {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: $primary-text;
}

.contentSecondary {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.44px;
  color: $private-message;
}

.groupIcon {
  @include info-block-group-icon;
  background-color: $ligth-gray;
  margin-right: 8px;
}