.buttonContainer{
  :global(.ui.button){
    margin-bottom: 10px;
  }
}

.buttonContainer{
    :global(.ui.button){
      background: #f4f5f7;
      color: #505f79;
      font-size: 14px;
    }
}

.formField p{
  color: #6c798f;
  font-size: 12px;
}
