@import 'styles/mixins.scss';

.inputView {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  outline: none;
  cursor: text;

  & input {
    @include text-data;

    &:focus {
      border: 1px solid $yellow !important;
    }
  }

  &:hover {
    background-color: $ligth-gray;
  }
}

.label {
  margin: 20px 0 5px !important;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: $primary-text;
  display: block;
  left: 0 !important;
}

.errorPopup {
  @include error-popup;
}
