@import 'styles/mixins.scss';

.container {
  @include profile-container;
}

.header {
  @include manager-header;
}

.card {
  @include card-container;
}

.cardHeader {
  @include info-block-header;
  margin: 25px 0 !important;
  font-size: 14px;
}

.submitButton {
  margin-top: 20px !important;
  @include content-btn;
  background-color: #2185d0 !important;
  color: $primary-bg !important;
  border: none !important;
}

.errorPopup {
  @include error-popup;
}

@media screen and (max-width: $less-than-medium-screen) {
  .container {
    margin-top: 50px;
    width: 100%;
    padding: 0;
  }
}