.users_wrapper,
.user_block,
.main_info {
  display: flex;
  max-width: 200px;
}
.user_block {
  margin: 5px;
  border-right: 1px solid #cccccc;
  border-radius: 6px;
}
.main_info {
  flex-direction: column;
  span {
    white-space: nowrap;
    overflow: hidden;
    max-width: 140px;
  }
  .fulname {
    font-weight: 600;
  }
  .email {
    color: #cccccc;
  }
}
.user_avatar img {
  width: 35px;
  height: 35px;
}

.email {
  max-width: 170px;
  color: #cccccc;
  word-wrap: none;
  overflow-x: hidden;
}
.search_result {
  width: 100%;
}
