@import 'styles/mixins.scss';

:local(.columnHeader) {
	margin-bottom: 0 !important;
	margin-right: 20px !important;
	white-space: nowrap;
	@include manager-header;
}

.issueWrapper {
	display: flex;
	flex-direction: column;
}

.createBtn {
	border: 1px solid $content-btn-bg !important;
	box-sizing: border-box;
	margin-top: 10px !important;
	padding: 5px 7px;
	border-radius: 5px;
	margin: 0 0 -7px -7px;
	@include text-data;

	&:hover {
		border: 1px solid $border !important;
		background-color: $border !important;
	}
}

.wrapper {
	padding: 10px 2px 10px 10px !important;
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

.column__content_container { 
	max-height: 500px;
}

.issue__actions {
	flex-grow: 0;
}