.textSearch {
	width: 90% !important;
	border: none;
	box-shadow: none;
	:local(input) {
		border: none !important;
	}
}
.dropdownBtns {
	margin: 0 0 10px 10px;
}
.searchInput {
	width: 90% !important;
}
.checkbox {
	cursor: pointer;
}

.dropdown {
	padding: 0 !important;
	.dropdownMenu {
		position: absolute !important;
	}
}
