.textSearch {
	width: 90% !important;
	border: none;
	box-shadow: none;
}
.searchInput {
	width: 90% !important;
}
.checkbox {
	cursor: pointer;
}

.dropdown {
	padding: 0 !important;
	&:hover {
		.dropdownMenu {
			display: none !important;
		}
	}
	&:focus {
		.dropdownMenu {
			display: block !important;
		}
	}
	.dropdownMenu {
		position: absolute !important;
		&:focus {
			display: block !important;
		}
		&:hover {
			display: block !important;
		}
	}
}
