.block_wrapper {
  position: absolute;
  left: 29%;
  top: 40%;
  width: 400px;
  height: 300px;
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 6px #cccccc;
  box-sizing: border-box;
  z-index: 100;
  flex-direction: column;
}

.block_wrapper .header {
  display: flex;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #cccccc;
}

.block_wrapper .header .name {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 1.2rem;
  align-self: flex-end;
  padding: 10px 0;
}

.block_wrapper .header .name span {
  padding: 6px 0;
}

.block_wrapper .header .name span:first-child {
  font-size: 1.3rem;
}

.block_wrapper .avatar {
  position: absolute;
  top: 40px;
  left: 35px;
}

.block_wrapper .avatar img,
.block_wrapper .avatar span {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.block_wrapper .avatar span {
  font-size: 4rem;
  padding-top: 50px;
  text-align: center;
}

.block_wrapper .main_info {
  flex: 1;
  height: 190px;
  background-color: #ffffff;
  display: flex;
}

.block_wrapper .main_info .details {
  flex: 1;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #3a3a3a;
  font-size: 1.2rem;
}

.block_wrapper .main_info .details span {
  padding: 6px 0;
}

.block_wrapper .main_info .details a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.left_margin {
  display: block;
  box-sizing: border-box;
  width: 200px;
}
