@import '../../styles/variables.scss';

:global(#root) {
	.menuWrapper > * {
		color: $header-text !important;
		padding: 7px 13px;
		font-weight: normal !important;
	}

	.menuWrapper {
		margin: 0px 20px;
	}

	.segmentWrapper {
		border-radius: 0;
		padding: 0;
		width: 100%;
		position: sticky;
		top: 0;
		left: 0;
		margin: 0 !important;
		z-index: 1000;
		background-color: #ffffff;
	}

	.rightMenu {
		padding: 0px;
	}

	.logoItem {
		padding: 5px 7px;

		&:hover {
			background: none;
		}
	}

	.createMenuItem {
		font-weight: 600;
		height: 30px;
		border-radius: 5px;
		border: 1px solid $header-text;

		&:hover {
			background-color: $header-text;
			color: white;
		}
	}

	.logoText {
		margin: 0 50px 0 10px;
		font-weight: bolder;
		font-size: larger;
	}

	.circularIcon {
		margin-left: 10px;
		border-radius: 50%;
		padding: 7px;
		height: 30px;
		width: 30px;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
			padding: 7px;
		}
		i {
			margin: 0;
		}
	}

	.circularDropdownMenu {
		position: absolute;
		top: 38px;
		right: 4px !important;
	}

	.circularDropdownMenu > * {
		color: rgba(80, 80, 80, 0.9) !important;
	}

	@media screen and (max-width: $medium-screen) {
		.logoText {
			display: none;
		}

		.menuWrapper > * {
			margin-left: -1px;
			padding: 5px;
		}

		.menuWrapper input {
			padding: 5px;
			width: 150px;
			margin-right: 2px;
		}

		.menuWrapper .circularIcon {
			margin-left: -2px;
		}
	}
}
