:global(#root) .menuWrapper > * {
  color: rgba(80, 80, 80, 0.9) !important;
  padding: 7px 13px;
  font-weight: bold !important;
}

:global(#root) .menuWrapper {
  margin: 0px 20px;
}

:global(#root) .segmentWrapper {
  border-radius: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

:global(#root) .rightMenu {
  padding: 0px;
}

:global(#root) .logoItem {
  padding: 5px 7px;
}

:global(#root) .logoItem:hover {
  background: none;
}

:global(#root) .createMenuItem {
  background: rgba(0, 101, 253, 0.9);
  color: #fff !important;
}

:global(#root) .createMenuItem:hover {
  background: #0065fd;
}

:global(#root) .circularIcon {
  margin-left: 10px;
  border-radius: 50%;
  padding: 7px;
  height: 30px;
  width: 30px;
}

:global(#root) .circularIcon:hover {
  background: rgba(0, 0, 0, 0.05);
  padding: 7px;
}

:global(#root) .circularIcon i {
  margin: 0;
}

:global(#root) .circularDropdownMenu {
  position: absolute;
  top: 38px;
  right: 4px !important;
}

:global(#root) .circularDropdownMenu > * {
  color: rgba(80, 80, 80, 0.9) !important;
}
