.circularIcon {
	margin-left: 10px !important;
	border-radius: 50%;
	padding: 0.78571429em 0.78571429em 0.78571429em;
	background: #e0e1e2 none;
	height: 38px !important;
	width: 38px !important;

	i {
		margin: 0 !important;
	}
}

.circularDropdownMenu {
	position: absolute !important;
	top: 51px !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.createItem {
	&:hover {
		background-color: rgba(0, 0, 0, 0.05) !important;
	}
}
