@import 'styles/mixins.scss';

.hederContainer {
  display: flex;
  align-items: center;
}

.linkHeader {
  @include info-block-header;
  margin: 0;
}

.linkCardWrapper {
  @include primary-box;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;

  .linkHref {
    @include primary-content;
    margin: 0;
    margin-left: 20px;
    cursor: poiner;

    &:hover {
      border-bottom: 2px solid $yellow;
      position: relative;
      top: 1px;
    }

    &>i {
      font-size: 16px !important;
    }
  }

  .btnsBlock {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.linkTitle {
  color: #000000;
  font-weight: 700;
  font-size: 1.1rem;
}

.linkDescription {
  @include secondary-content;
}

.button {
  margin-left: 10px !important;
  cursor: pointer;
}