@import "styles/mixins.scss";

.hederContainer {
  display: flex;
  align-items: center;
}

.linkBlock {
  display: flex;
}

.btnBorderless {
  border: none !important;
  box-shadow: none !important;
  background-color: $body-bg !important;

  &:hover {
    background-color: $body-bg !important;
  }
}

.linkHeader {
  @include info-block-header;
  margin: 0;
}

.linkCardWrapper {
  @include primary-box;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
}

.btnsBlock {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.linkTitle {
  color: #000000;
  font-weight: 700;
  font-size: 1.1rem;
}

.linkDescription {
  @include secondary-content;
  margin: 0;
}

.button {
  margin-left: 10px !important;
  cursor: pointer;
  color: $secondary-content !important;

  &:hover {
    color: $primary-text !important;
  }
}

.linkHref {
  @include primary-content;
  margin: 6px 0;
  cursor: poiner;
  position: relative;
  width: fit-content;

  &:hover {
    @include primary-content;

    &::after {
      display: block;
      position: absolute;
      top: 24px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fece2f;
    }
  }
}
