@import 'styles/variables.scss';

.activityItem {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 24px;

  &__icon {
    margin-right: 14px;
  }

  &__content {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 0;

    &__secondary {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.44px;
      color: #858585;
    }
  }
}

.avatar {
  width: 50px;
  height: 50px;
  background: #FF4C60;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  border-radius: 50%;

  &__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25.6px;
    line-height: 51px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
  }
}