@import 'styles/mixins.scss';

.activityItem {
  @include primary-box;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 17px 24px;
}

.avatar {
  width: 50px;
  height: 50px;
  background: #FF4C60;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  border-radius: 50%;
}

.avatarTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 25.6px;
  line-height: 51px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
}

.icon {
  margin-right: 14px;
}

.content {
  @include primary-content;
  margin: 0;

  &:hover {
    border-bottom: 2px solid $yellow;
  }
}

.contentSecondary {
  @include secondary-content;
}