.container {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.header_inner__container {
    padding: 25px 25px 20px;
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: auto;
}

.header_inner__breadcrumbs {
    margin-bottom: 10px;
}
