:global(#root) {
	.dropDownMenu {
		position: absolute;
		top: 32px;
	}

	.dropDownMenu > * {
		color: rgba(80, 80, 80, 0.9) !important;
		width: 250px;
		white-space: pre-wrap;
	}
}

.media_query {
	@media (max-width: 730px) {
		padding: 0 4px !important;
	}
}
