@import './mixins.scss';

body {
	margin: 0;
	font-family: Poppins, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $body-bg;

	*:not(.icon) {
		font-family: Poppins, sans-serif !important;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

label {
	position: relative !important;
	top: 0;
	left: 5px;
}

.site-header-wrapper {
	background-color: $header-text !important;
}

.site-header>.menu>.item:not(.createMenuItem):not(.right):not(.site-logo) {
	border-radius: 1px !important;
	background-color: inherit !important;
	box-sizing: border-box;
	font-size: 15px;

	* {
		font-size: 15px;
	}

	@mixin onHover() {
		position: relative;
		top: 1px;
	}

	&.active {
		border-bottom: 2px solid #f3cb46 !important;
		@include onHover();
	}

	&:hover:not(.active) {
		border-bottom: 2px solid #fff;
		@include onHover();
	}
}

.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
	border: 1px solid $yellow !important;
}

.site-header>.menu>.item.site-logo {
	.site-logo-text {
		padding: 5px 10px;
		border-radius: 2px;
	}

	&:hover>.site-logo-text {
		background: rgba(255, 255, 255, 0.1);
	}
}

.ui.menu .ui.dropdown .menu .item.bold {
	font-weight: 700 !important;
}

.site-header>.menu .dropdown.icon {
	position: relative;
	top: 1px;
	left: 5px;
	font-size: larger;
	margin: 0 !important;
}

.required::after {
	color: red;
	content: '*';
}

.modal i.close.icon::before {
	cursor: pointer;
	position: absolute;
	font-size: 18px;
	color: #333;
	left: -40px;
	top: 55px;
}

* {
	box-sizing: border-box;
}

#root {
	max-height: 100vh;
	overflow: hidden;
}

#root,
.fill {
	width: 100%;
	height: 100%;
}

.cardContainer {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 !important;
}

.standartIcon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: -10px !important;
	margin-right: 5px !important;
}

.contentBtn {
	@include content-btn;
}

.primaryBtn {
	@include primary-btn;
}

.cancelBtn {
	@include cancel-btn;
}

.workBlock {
	background-color: $primary-bg;
	width: 100%;
	margin-top: 32px;
	padding: 20px;

	div:first-of-type {
		margin-top: 0;
	}
}

.emptyCard {
	padding: 5%;
	display: flex;
	width: 90%;
	align-items: center;
}

.managerHeader {
	@include manager-header;
	margin: 0;
}

.standartInput {
	@include input;
}

.standartSelect {
	@include dropdown;
}

.formSelect {
	&>div {
		@include dropdown;
	}
}

.textData {
	@include text-data;
}

.secondaryData {
	@include secondary-content;
}

.standartLabel {
	@include label;
}

.standartHeader {
	@include primary-header;
}

.sipleTab {
	margin-top: 22px !important;
	margin-bottom: 22px;
}

.bottomTab {
	margin-bottom: 22px;
}

@media screen and (max-width: $less-than-medium-screen) {
	.workBlock {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.ui.container {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media screen and (max-width: $mobile-screen) {
	.emptyCard {
		flex-direction: column;
		max-height: 300px;
	}
}