@import './variables.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $body-bg;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

label {
	position: relative !important;
	top: 0;
	left: 5px;
}

.site-header>.menu>.item:not(.createMenuItem):not(.right):not(.site-logo) {
	border-radius: 1px !important;
	background-color: #ffffff !important;

	&.active {
		border-bottom: 2px solid #f3cb46 !important;
	}

	&:hover:not(.active) {
		border-bottom: 2px solid #000000 !important;
	}
}

.site-header>.menu>.item.site-logo {
	.site-logo-text {
		padding: 5px 10px;
		border-radius: 2px;
	}

	&:hover>.site-logo-text {
		background-color: rgba(0, 0, 0, 0.05) !important;
	}
}

.required:after {
	color: red;
	content: '*';
}

* {
	box-sizing: border-box;
}

#root,
.fill {
	width: 100%;
	height: 100%;
}