@import './variables.scss';

@mixin error-popup {
  background: #fff !important;
  border: 1px solid #e0b4b4 !important;
  color: #9f3a38 !important;
}

@mixin profile-container {
  width: 70%;
  padding: 0 0 0 50px;
}

@mixin profile-card {
  padding: 40px !important;
}

@mixin info-block-header {
  margin: 25px 0 !important;
}

@mixin info-block-item {
  margin: 20px 0 0;
  display: flex;
  align-items: center;
}

@mixin info-block-group-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #5b3232;
  align-items: center;
}

@mixin info-block-group-icon-item {
  color: $body-bg;
}


@mixin info-block-content {
  font-size: 16px;
  margin: 0 0 0 16px;
}

@mixin info-block-content-secondary {
  margin: 0 0 20px 16px;
  color: $secondary-content;
}

@mixin point {
  cursor: pointer;
}

@mixin never-point {
  cursor: not-allowed;
}