@import './variables.scss';

@mixin error-popup {
  background: #fff !important;
  border: 1px solid #e0b4b4 !important;
  color: #9f3a38 !important;
  z-index: 0;
}

@mixin profile-container {
  width: 70%;
  padding: 0 0 0 40px;
}

@mixin info-block-item {
  margin: 20px 0 0;
  display: flex;
  align-items: center;
}

@mixin info-block-group-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}


@mixin info-block-content {
  margin: 0 0 0 16px;
}

@mixin info-block-content-secondary {
  margin: 0 0 20px 16px;
  color: $secondary-content;
}

@mixin point {
  cursor: pointer;
}

@mixin never-point {
  cursor: not-allowed;
}

@mixin primary-box {
  background-color: $primary-bg;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

@mixin primary-header {
  color: $header-text !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  font-family: "Poppins", sans-serif !important;
  word-break: break-word;
}

@mixin primary-content {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $primary-text;
  word-break: break-word;
}

@mixin secondary-content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: $secondary-text;
  font-family: "Inter", sans-serif !important;
  word-break: break-word;
}

@mixin work-page-secondary {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: $secondary-text;
}

@mixin text-data {
  font-family: Poppins, sans-serif !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 19px !important;
  color: $dark-black !important;
  word-break: break-word;
}

@mixin content-btn {
  border: 1px solid $dark-black !important;
  box-sizing: border-box;
  border-radius: 5px !important;
  @include text-data;
  background-color: #FFFFFF !important;
}

@mixin info-block-header {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 32px !important;
  letter-spacing: 0.15px !important;
  color: $primary-text !important;
}

@mixin manager-header {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: $header-text;
}

@mixin card-container {
  background: $primary-bg;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  padding: 40px;
}

@mixin mainHeader {
  background: $body-bg;
  height: 90px;
  border-bottom: 1px solid $ligth-gray;
  padding: 34px 13% 21px;
}

@mixin primary-button {
  color: black !important;
  background-color: $primary__button__color !important;
  
	&:hover {
		background-color: $primary__button__hovered !important;
	}
}