// Colors
$body-bg: #f5f7f9;
$primary-bg: #ffffff;
$secondary-content: #676f74;
$border: #e1e8ee;
$header-text: #19191d;
$primary-text: #2c2c2c;
$secondary-text: #858585;
$dark-black: #000000;
$ligth-gray: #C4C4C4;
$red: #FF4C60;
$yellow: #FECE2F;
$green: #76ef8a;
$blue: #62b4ff;

// Breakpoints
$medium-screen: 1000px;
$less-than-medium-screen: 900px;