// Colors
$body-bg: #F5F7F9;
$primary-bg: #FFFFFF;
$secondary-content: #676f74;
$header-text: #19191D;
$primary-text: #2C2C2C;
$secondary-text:#858585;
// Breakpoints
$medium-screen: 1000px;
$less-than-medium-screen: 900px;