// Colors
$body-bg: #F5F7F9;
$primary-bg: #FFFFFF;
$secondary-content: #676f74;
$header-text: #19191D;
$primary-text: #2C2C2C;
$secondary-text:#858585;
$dark-black: #000000;
$medium-gray: #858585;
$ligth-gray: #C4C4C4;
$private-message: #858585;
$red: #FF4C60;
$yellow: #FECE2F;
$green: #76ef8a;
$blue:#62B4FF;

// Breakpoints
$medium-screen: 1000px;
$less-than-medium-screen: 900px;