.wrapper {
	padding: 20px 60px;
	width: 100%;
}

.columnsContainer {
	overflow-x: auto;
	display: flex;
}

.createColumn {
	margin-top: 0 !important;
	min-width: 250px !important;
	height: min-content;
}
