.header_inner__container {
    padding: 10px 0px 20px ;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header_inner__title {
    font-size: 24px;
    margin: 0;
}

.body_inner__container {
    margin: 0 20%;
}

.body_inner__find,
.modal__find {
    width: 100%;
}

.table__header_cell {
	background-color: #f9fafb !important;
	border-left: none !important;
}

.user__username {
	display: flex;
	align-items: center;
	width: 100%; 
}

.user__email {
    width: 44%;
}

.user__action {
    width: 84px;
}

.column__name, 
.column__email {
    width: 40%;
}


.imgWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	.content {
		display: flex;
		flex-direction: column;
		.img {
			width: 200px;
			margin: 10px;
		}
		.text {
			text-align: center;
		}
	}
}