@import 'styles/mixins.scss';

.header {
	background: $body-bg;
	height: 90px;
	border-bottom: 1px solid $ligth-gray;
	padding: 34px 10% 21px;
}

.content {
	@include primary-header;
	color: #000000de !important;
}

@media screen and (max-width: $medium-screen) {
	.header {
		padding: 34px 8% 21px;
	}
}
