@import 'styles/mixins.scss';

.header {
	background: $body-bg;
	border-bottom: 1px solid $ligth-gray;
	padding: 20px 10%;
}

.content {
	@include primary-header;
	color: #000000de !important;
}

@media screen and (max-width: $medium-screen) {
	.header {
		margin: 11px 8%;
	}
}