.container {
  display: flex;
}

.sidebar__container {
  width: 250px;
  margin: 0;
  background-color: rgba(0,0,0, 0.9);
  color: rgb(255,255,255);
}

.sidebar__header {
  padding: 16px 12px 0;
}

.sidebar__body {
  max-height: 100%;
  padding: 12px;
  position: relative;
  overflow: auto;
}

.header__item, 
.body__group_item {
  display: flex;
  align-items: flex-start;
}

.header__item {
  padding: 7px 12px;
}

.body__group_item {
  padding: 10px 12px 8px;
}

.body__link  {
  color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(254, 206, 47);
    color: rgb(0,0,0) !important;
    border-radius: 3px;
  }
}

.nav__link_content {
  border-bottom: 2px solid transparent;
  color: inherit;
  font-weight: bold;
}

.nav__link__active {
  border-bottom: 2px solid rgb(254, 206, 47);
}

.header__img {
  width: 30px;
  height: 30px;  
  border-radius: 3px;     
  margin-right: 14px; 
}

.header__name {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.header__type {
  font-size: 12px;
  line-height: 12px;
  color: #a5a4a4;
}

.header__link {
  display: flex;
}

.header__link_icon {
  margin-right: 17px !important;
}

