.container {
  display: flex;
}

.sidebar__container {
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 270px;
  margin: 0;
  border-right: 2px solid rgba(9,30,66,0.08);
  background-color: rgb(244,245,247);
}

.content__container {
  margin-left: 270px;
  display: block;
  width: 100%;
}

.split {
  &:after {
    content: ' ';
    left: 16px;
    height: 2px;
    width: 100%;
    display: block;
    background-color: rgba(9,30,66,0.08);
  }
}

.sidebar__header {
  @extend .split;
}

.sidebar__header,
.sidebar__body {
  padding: 16px 16px 0;

}

.sidebar__body {
  position: relative;
  overflow-y: auto;
}

.header__item, 
.body__group_item {
  display: flex;
  align-items: flex-start;
}

.header__item {
  padding: 7px 12px;
  margin-bottom: 10px;
}

.body__group_item {
  padding: 10px 12px;
}

.header__item_back,
.body__link  {
  color: rgb(66, 82, 110) !important;
  
  &:hover {
    background-color: rgb(235,236,240);
  }
}

.nav__link__active {
  background-color: rgb(235,236,240);
  color: rgb(0, 82, 204) !important;
}

.header__img {
  width: 30px;
  height: 30px;  
  border-radius: 3px;     
  margin-right: 14px; 
}

.header__name {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.header__type {
  font-size: 12px;
  line-height: 12px;
  color: rgb(107, 119, 140)
}

.header__link {
display: flex;
}

.header__link_icon {
  margin-right: 17px !important;
}

.body__title {
  font-weight: bold;
  text-align: left;
  padding-left: 12px;
  margin-bottom: 5px;
}

.body__group {
  @extend .split
}

.header__link,
.body__link {
  color: rgb(66, 82, 110);
}

