.icon {
    padding: 5px 10px !important;
    border-radius: 3px !important;
    width: auto !important;
    height: auto !important;
}

.closed {
    @extend .icon;
    background-color: rgb(244, 245, 247) !important;
}

.opened {
    @extend .icon;
    background-color: rgb(80, 93, 121) !important;
}